fastapi
uvicorn[standard]
python-multipart

torch
torchvision
torchaudio

diffusers
transformers
accelerate
safetensors

huggingface_hub
Pillow
numpy
opencv-python
scipy
einops
omegaconf
tqdm
xformers
